@theme {
  --color-\*: initial;
  --color-primary-soft: var(--color-primary-soft);
  --color-primary: var(--color-primary-medium);
  --color-primary-medium: var(--color-primary-medium);
  --color-primary-string: var(--color-primary-strong);

  /* Secondary Colors */
  --color-secondary-soft: var(--color-secondary-soft);
  --color-secondary: var(--color-secondary-medium);
  --color-secondary-medium: var(--color-secondary-medium);
  --color-secondary-strong: var(--color-secondary-strong);

  /* CTA Colors */
  --color-cta-soft: var(--color-cta-soft);
  --color-cta: var(--color-cta-medium);
  --color-cta-medium: var(--color-cta-medium);
  --color-cta-strong: var(--color-cta-strong);

  /* Accessory Colors */
  --color-accessory: var(--color-accessory-medium);
  --color-accessory-medium: var(--color-accessory-medium);
  --color-accessory-strong: var(--color-accessory-strong);

  /* Background Colors */
  --color-background: var(--color-background-medium);
  --color-background-medium: var(--color-background-medium);
  --color-background-strong: var(--color-background-strong);

  /* Fixed Colors */
  --color-fixed-white: var(--color-fixed-white);
  --color-fixed-black: var(--color-fixed-black);

  /* Feedback Colors */
  --color-feedback-success-soft: var(--color-feedback-success-soft);
  --color-feedback-success: var(--color-feedback-success-medium);
  --color-feedback-success-medium: var(--color-feedback-success-medium);
  --color-feedback-success-strong: var(--color-feedback-success-strong);

  --color-feedback-info-soft: var(--color-feedback-info-soft);
  --color-feedback-info: var(--color-feedback-info-medium);
  --color-feedback-info-medium: var(--color-feedback-info-medium);
  --color-feedback-info-strong: var(--color-feedback-info-strong);

  --color-feedback-warning-soft: var(--color-feedback-warning-soft);
  --color-feedback-warning: var(--color-feedback-warning-medium);
  --color-feedback-warning-medium: var(--color-feedback-warning-medium);
  --color-feedback-warning-strong: var(--color-feedback-warning-strong);

  --color-feedback-danger-soft: var(--color-feedback-danger-soft);
  --color-feedback-danger: var(--color-feedback-danger-medium);
  --color-feedback-danger-medium: var(--color-feedback-danger-medium);
  --color-feedback-danger-strong: var(--color-feedback-danger-strong);

  /* Neutral Colors */
  --color-neutral-xxsoft: var(--color-neutral-xxsoft);
  --color-neutral-xsoft: var(--color-neutral-xsoft);
  --color-neutral-soft: var(--color-neutral-soft);
  --color-neutral: var(--color-neutral-medium);
  --color-neutral-medium: var(--color-neutral-medium);
  --color-neutral-strong: var(--color-neutral-strong);
  --color-neutral-xstrong: var(--color-neutral-xstrong);
  --color-neutral-xxstrong: var(--color-neutral-xxstrong);
}
