*,
::after,
::before,
::backdrop,
::file-selector-button {
  border-color: var(--color-gray-200, currentColor);
}

html {
  font-family: var(--font-primary);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
}

body {
  background-color: var(--color-background-medium);
}
